<h1>Let's play Roshambo!</h1>
<form action="/roshambo">
  <div class="form-group">
    <label for="player_one_hand">Enter Player One
    </label>
    <input id="player_one_hand" name="player_one_hand" class="form-control" type="password">
    <label for="player_two_hand">Enter Player Two
    </label>
    <input id="player_two_hand" name="player_two_hand" class="form-control" type="password">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
