body {
  background-image: url(https://images.unsplash.com/photo-1433785124354-92116416b870?q=80&fm=jpg&s=38f06298f26c11c59024eabf3b0be3bb);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(90,90,90,0.7);

}
